<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet" >

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Animemovies</title>
  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top"> <!-- sticky-top: dính chặt lên đỉnh trang -->
      <div class="container-fluid">
        <a href="#" class="narbar-brand">
          <img src="/static/images/logo.png" height="50px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Page</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Connect</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="main">

      <!-- Carousel -->
      <div id="slides" class="carousel slide" data-ride="carousel">
        <div class="col-12 text-center">
          <h5>
            <a>Anime sắp chiếu 2019</a>
          </h5>
        </div>
        <!-- <ul class="carousel">
          <li data-target="#slides" data-slide-to="0" class="active"></li>
          <li data-target="#slides" data-slide-to="1"></li>
          <li data-target="#slides" data-slide-to="2"></li>
          <li data-target="#slides" data-slide-to="3"></li>
          <li data-target="#slides" data-slide-to="4"></li>
        </ul> -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/images/slide1.jpg">
          </div>
          <div class="carousel-item">
            <img src="/static/images/slide2.jpg">
          </div>
          <div class="carousel-item">
            <img src="/static/images/slide1.jpg">
          </div>
          <div class="carousel-item">
            <img src="/static/images/slide2.jpg">
          </div>
          <div class="carousel-item">
            <img src="/static/images/slide1.jpg">
          </div>
          <div class="carousel-item">
            <img src="/static/images/slide2.jpg">
          </div>
        </div>
      </div>

      <!-- <hr style="color: white"> -->

      <div class="container-fluid" style="border-top: 1px solid #171717">
        <div class="row">
          <div class="left-movies col-md-8">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-12">
                <a href="#">Anime mua mới</a>
                </div>
                <div class="col-md-4 col-sm-12">
                  <a href="#">Anime mua truoc</a>
                </div>
                <div class="col-md-4 col-sm-12">
                  <a href="#">Anime cap nhat</a>
                </div>
              </div>
            </div>
            <hr style="color: white">
            <div class="tab-home-1">
              <h2>
                <span class="title-list">Anime mua moi</span>
                <a href="#" class="readmore">xem them >></a>
              </h2>

              <div class="list-movies">
                <div class="row">
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                  <div class="movies-item col-md-3">
                    <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-home-2">
              <h2>
                <span class="title-list">Anime dai tap</span>
                <a href="#" class="readmore">xem them >></a>
              </h2>
              <div class="row">
                <div class="movies-item col-md-3">
                  <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                </div>
                <div class="movies-item col-md-3">
                  <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                </div>
                <div class="movies-item col-md-3">
                  <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                </div>
                <div class="movies-item col-md-3">
                  <img src="/static/images/solo_leveling.jpg" class="img-fluid">
                </div>
              </div>
            </div>
          </div>

          <!-- Right menu -->
          <div class="right-movies col-md-4">
            <div class="row">
              <div class="title-ad" style="color: red"><p>Anime xem nhieu trong ngay</p></div>
              <hr>
              <div class="categories">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="row">
                    <div class="col-md-4 left-movies">
                      <img src="/static/images/slide1.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8 left-movies">
                      <span>Kimetsu no Yaiba</span>
                      <span>Blade of Demon Destruction | Demon Slayer: Kimetsu no Yaiba | Sát Thủ Quỷ | Thanh gươm diệt quỷ| Quỷ diệt chi đao | 鬼滅の刃</span>
                    </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                    <div class="col-md-4 left-movies">
                      <img src="/static/images/slide1.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8 left-movies">
                      <span>Kimetsu no Yaiba</span>
                      <span>Blade of Demon Destruction | Demon Slayer: Kimetsu no Yaiba | Sát Thủ Quỷ | Thanh gươm diệt quỷ| Quỷ diệt chi đao | 鬼滅の刃</span>
                    </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                    <div class="col-md-4 left-movies">
                      <img src="/static/images/slide1.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8 left-movies">
                      <span>Kimetsu no Yaiba</span>
                      <span>Blade of Demon Destruction | Demon Slayer: Kimetsu no Yaiba | Sát Thủ Quỷ | Thanh gươm diệt quỷ| Quỷ diệt chi đao | 鬼滅の刃</span>
                    </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                    <div class="col-md-4 left-movies">
                      <img src="/static/images/slide1.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8 left-movies">
                      <span>Kimetsu no Yaiba</span>
                      <span>Blade of Demon Destruction | Demon Slayer: Kimetsu no Yaiba | Sát Thủ Quỷ | Thanh gươm diệt quỷ| Quỷ diệt chi đao | 鬼滅の刃</span>
                    </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                    <div class="col-md-4 left-movies">
                      <img src="/static/images/slide1.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8 left-movies">
                      <span>Kimetsu no Yaiba</span>
                      <span>Blade of Demon Destruction | Demon Slayer: Kimetsu no Yaiba | Sát Thủ Quỷ | Thanh gươm diệt quỷ| Quỷ diệt chi đao | 鬼滅の刃</span>
                    </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <footer>
      <div class="footer-header"></div>
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-md-6">
            <h3>Gioi thieu</h3>
            <span>
              Trang Anime Vietsub Online chất lượng cao, tất cả các bộ anime trên trang được tổng hợp từ Internet và re-up từ các Fansub
            </span>
            <br>
            <span>
              Xem tốt nhất với màn hình độ phân giải 1280x720px trở lên và sử dụng trình duyệt Mozilla Firefox, Chrome & Cốc Cốc
            </span>
          </div>
          <div class="col-md-6">
            <h3>Lien he</h3>
            <p>fb.com/dinvvan</p>
            <p>email lien he: dinvvan@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="footer-bottom"></div>
      <p class="text-center">localhost::3000 - Copuright &copy; 2019 - All Rights Reserved</p>
    </footer>

  </body>
</html>
